@page "/2"
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Регистрация</title>
<link rel="stylesheet" >
<div class="registration-form">
    <h2>Регистрация</h2>
    <button href="">  </button>
    <form id="registrationForm">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit"><a href="http://localhost:5208/3">Зарегистрироваться</a></button>
    </form>
</div>

<script src="Baze.js"></script>

@code {
    
}