@page "/games"
<!-- Режим рендеринга -->
@rendermode InteractiveServer

@using ComputerService.Database
@using ComputerService.Models

<!-- Доступ к сервису из коробки зависимостей-->
@inject GamerContext ef

<h3>Games</h3>
<!-- ForName - уникальное название формы -->
<EditForm FormName="formAddItem" Model="_game" OnValidSubmit="@Sumbit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <p>Введите называние игры</p>
    <input type="text" @bind="_game.NameGame"/> <!-- Привязка к полю -->
    <p>Стоимость</p>
    <input type="number" @bind="_game.Price"/> <!-- Привязка к полю -->
    <button type="submit">Добавить игру</button>
</EditForm>

@foreach (var item in ef.Games.ToList())
{
    <p>@item.NameGame </p>
    <p>@item.Price рублей</p>
}

@code {

    private Game _game = new Game();

    private void Sumbit(EditContext arg)
    {
        ef.Add(_game);
        ef.SaveChanges();
        _game = new Game();
    }

}